
.jetbrains-mono-<uniquifier> {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body {
    font-family: "JetBrains Mono", monospace;
    background-color: #f0f0f0;
    margin: 20px;
  }